:root {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    margin-right: 30px;
}

nav > button {
    margin-right: 30px;
    font-size: 20px;
}

figure {
    width: 50%;
}

figure > img {
    width: 30%;
    height: 30%;
}

footer {
    background-color: gray;
    text-align: center;
}

.container {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
}
 img {
    width: 75%;
    height: 75%;
 }